@import 'partials/variables'
@import 'partials/general'
@import 'partials/header'
@import 'partials/form'
@import 'partials/catalog'
@import 'partials/rules'
@import 'partials/viagem'
@import 'partials/home'
@import 'partials/ranking'
@import 'partials/cart'
@import 'partials/points'
@import 'partials/communication'
@import 'partials/orders'
@import 'partials/animation'
