@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@media only screen and (min-width: 320px) and (max-width: 460px) {
  html {
    font-size: 10px !important;
  }
  html body .table {
    max-width: 500% !important;
  }
  html body .header-internal .header-conteudo {
    flex-direction: column !important;
  }
  html body .header-internal .header-conteudo .logos, html body .header-internal .header-conteudo .links {
    width: 100% !important;
  }
  html body .header-internal .header-conteudo .logos {
    padding: 2rem !important;
    margin-bottom: 1rem !important;
  }
  html body .header-internal .header-conteudo .links ul {
    flex-direction: column !important;
  }
  html body .header-internal .header-conteudo .links ul li {
    width: 100% !important;
  }
  html body .header-internal .header-conteudo .links ul li:first-of-type {
    margin-bottom: 1rem !important;
  }
  html body .site-wrapper .forehead h2 {
    padding: 1rem !important;
  }
  html body .site-wrapper .box-login {
    width: 90% !important;
  }
  html body .site-wrapper .box-login .header-home .logo-campanha {
    align-items: center !important;
  }
  html body .site-wrapper .box-login .header-home .logo-campanha svg {
    width: 90%;
  }
  html body .site-wrapper .box-login .header-home .logo-campanha img {
    width: 100%;
  }
  html body .site-wrapper .box-login .form-login .inputs .linha-form .form-grupo label {
    font-size: 1rem !important;
  }
  html body .site-wrapper .box-login .form-login .inputs .linha-form .form-grupo input {
    padding: 1rem !important;
  }
  html body .site-wrapper .box-login .form-login .btn-cadastre {
    font-size: 1.2rem !important;
  }
  html body .site-wrapper .home_box .quadro-home {
    width: calc(50% - 1rem);
  }
  html body .site-wrapper .viagem .text-box,
  html body .site-wrapper .viagem .banner-viagem {
    padding: 3rem !important;
  }
  html body .site-wrapper .wrapper {
    overflow: auto;
    padding: 2rem !important;
  }
  html body .site-wrapper .wrapper div {
    overflow: auto;
  }
  html body .site-wrapper .wrapper .filtro_prod li {
    width: 50% !important;
  }
  html body .site-wrapper .wrapper .catalog .product {
    width: calc(50% - 1rem);
  }
  html body .site-wrapper .wrapper .wrap-rules {
    padding: 2rem !important;
  }
  html body .site-wrapper .wrapper .wrap-rules h2 {
    font-size: 1.8rem !important;
  }
  html body .site-wrapper .wrapper .wrap-rules .texto {
    flex-direction: column !important;
  }
  html body .site-wrapper .wrapper .wrap-rules .texto .coluna {
    width: 100% !important;
  }
  html body .site-wrapper .wrapper .formularios .coluna-1, html body .site-wrapper .wrapper .formularios .coluna-2 {
    width: 100% !important;
  }
  html body .site-wrapper .wrapper .formularios .perfil-endereco {
    flex-direction: column !important;
  }
  html body .site-wrapper .wrapper .formularios .perfil-endereco .perfil, html body .site-wrapper .wrapper .formularios .perfil-endereco .endereco {
    width: 100% !important;
  }
  html body .site-wrapper .pedidos_feitos .box-pedidos {
    flex-direction: column !important;
    overflow-y: hidden !important;
  }
  html body .site-wrapper .pedidos_feitos .box-pedidos div {
    width: 100% !important;
  }
  html body .site-wrapper .pedidos_feitos .box-pedidos .descr {
    margin-bottom: 1rem !important;
  }
  html body .site-wrapper .pedidos_feitos .box-pedidos .lista-pedidos .orders {
    width: 300% !important;
  }
  html body .site-wrapper .pedidos_feitos .box-pedidos .lista-pedidos .account-box .order-resume ul li {
    display: flex;
    width: 100% !important;
  }
  html body .site-wrapper .pedidos_feitos .box-pedidos .lista-pedidos .account-box .order-resume ul li p {
    width: 50% !important;
  }
  html body .site-wrapper .pedidos_feitos .box-pedidos .lista-pedidos .account-box .order-resume ul li .order-resume-text-info {
    padding-left: 1rem !important;
  }
  html body .site-wrapper .pedidos_feitos .box-pedidos .lista-pedidos .account-box .order-package .order-products .order-product {
    display: flex;
  }
  html body .site-wrapper .wrap-tables {
    overflow-y: hidden !important;
  }
  html body .site-wrapper .wrap-tables .pontos_simples {
    width: 250%;
  }
  html body .site-wrapper .carrinho {
    flex-direction: column !important;
  }
  html body .site-wrapper .carrinho .descr, html body .site-wrapper .carrinho .produtos_cart {
    width: 100% !important;
  }
  html body .site-wrapper .carrinho .product-cart .product-cart-img {
    margin: 0 !important;
    padding: 0 !important;
    width: 25% !important;
  }
  html body .site-wrapper .carrinho .product-cart .product-cart-description {
    margin: 0 !important;
    width: 50% !important;
  }
  html body .product-detail {
    display: flex;
    flex-direction: column !important;
  }
  html body .product-detail picture {
    width: 100% !important;
    display: flex;
  }
  html body .product-detail picture img {
    height: 100% !important;
    width: auto !important;
    aspect-ratio: 1/1 !important;
    margin: 0 auto;
  }
  html body .product-detail .product-detail-description {
    width: 100% !important;
  }
}
@media only screen and (min-width: 760px) and (max-width: 920px) {
  html {
    font-size: 12px !important;
  }
}
@media only screen and (min-width: 920px) and (max-width: 1100px) {
  html {
    font-size: 14px !important;
  }
}
@media only screen and (min-width: 1280px) {
  html {
    font-size: 16px !important;
  }
  html body .header-conteudo, html body .forehead, html body .wrapper {
    width: 1080px;
    margin: 0 auto;
  }
}
body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: Poppins, Arial, Helvetica, sans-serif !important;
  color: #4F4F4F;
  background-color: #f3f3f3 !important;
  /* Menu */
  /* Conteúdo */
  /* Cadastro */
  /* Rodapé */
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  margin: 0 !important;
  color: #4F4F4F;
}
body a {
  color: #D97A06;
  text-decoration: none !important;
}
body .btn_padrao {
  border-radius: 0.5rem;
  padding: 1rem;
  color: #fff !important;
  outline: none;
  border: 0 !important;
  transition: 0.2s;
}
body .btn_prim {
  background-color: #D97A06 !important;
  box-shadow: 0 1rem 2rem -10px #D97A06;
  -webkit-box-shadow: 0 1rem 2rem -10px #D97A06;
  -moz-box-shadow: 0 1rem 2rem -10px #D97A06;
}
body .btn_prim:hover {
  background-color: #BF2505 !important;
}
body .btn_sec {
  background-color: #750303 !important;
  box-shadow: 0 1rem 2rem -10px #750303;
  -webkit-box-shadow: 0 1rem 2rem -10px #750303;
  -moz-box-shadow: 0 1rem 2rem -10px #750303;
}
body .btn_sec:hover {
  background-color: #270000 !important;
}
body .table {
  margin: 0 !important;
}
body .header-internal {
  background-image: linear-gradient(to left, #750303, #D97A06), url("../../img/fundo_premios-03.png");
  background-size: contain;
  background-blend-mode: multiply;
  backdrop-filter: opacity(0.2);
  -webkit-backdrop-filter: opacity(0.2);
  height: fit-content;
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  z-index: 9997;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}
body .header-internal .header-conteudo {
  display: flex;
  height: fit-content;
}
body .header-internal .header-conteudo div {
  border-radius: 0.5rem !important;
  overflow: hidden;
}
body .header-internal .header-conteudo .logos {
  width: calc(20% - 1rem);
  margin-right: 1rem;
  background-color: #fff;
}
body .header-internal .header-conteudo .logos .logo-campanha {
  height: 100%;
  display: flex;
  padding: 0 0.5rem;
}
body .header-internal .header-conteudo .logos .logo-campanha img {
  margin: auto;
  width: 90%;
}
body .header-internal .header-conteudo .logos .logo-campanha svg {
  margin: auto;
  width: 35%;
  fill: #D97A06 !important;
}
body .header-internal .header-conteudo .links {
  width: 80%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  border-radius: 1rem;
  background-color: #fff;
}
body .header-internal .header-conteudo .links div, body .header-internal .header-conteudo .links ul {
  padding: 1rem;
}
body .header-internal .header-conteudo .links div {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body .header-internal .header-conteudo .links div ul {
  margin: 0 !important;
}
body .header-internal .header-conteudo .links div ul li {
  list-style-type: none;
  font-size: 0.8rem;
}
body .header-internal .header-conteudo .links div ul li span {
  font-size: 1.2rem !important;
  font-weight: 800;
}
body .header-internal .header-conteudo .links .menu {
  width: calc(100% - 1rem);
  display: flex;
  justify-content: space-between;
  background-color: #191919;
  margin: 0.5rem;
}
body .header-internal .header-conteudo .links .menu .nav-link {
  font-size: 0.8rem;
  color: #fff;
  display: inline-block;
  font-weight: 600;
  text-decoration: none;
  transition: 0.2s;
}
body .header-internal .header-conteudo .links .menu .nav-link:hover {
  margin-top: -0.25rem;
}
body .wrapper-login {
  height: 100vh;
  display: flex !important;
  margin: auto !important;
  background-color: rgba(0, 0, 0, 0) !important;
}
body .site-wrapper {
  padding: 2rem 1.5rem;
  border-radius: 2rem;
  width: 100% !important;
  display: flex;
  flex-direction: column;
  /* Login */
  /* Cabeçalho */
  /* Home */
  /* Prêmios */
  /* Viagem */
  /* Carrinho */
  /* Regulamento */
  /* Equipes */
  /* Pontos */
  /* Comunicados */
  /* Ranking */
  /* Seus Dados */
  /* Treinamento */
  /* Pedidos */
}
body .site-wrapper .wrapper {
  padding: 1rem;
  border-radius: 1rem;
  background-color: white;
  overflow: hidden;
}
body .site-wrapper .wrapper div {
  border-radius: 0.5rem !important;
  overflow: hidden;
}
body .site-wrapper .wrapper .nao-divulgado {
  background-color: #e5e5e5 !important;
  padding: 1rem !important;
  border-radius: 0.5rem !important;
  margin: 0 !important;
  font-size: 1rem !important;
}
body .site-wrapper .box-login {
  width: 25rem;
  padding: 3rem;
  border-radius: 1.5rem;
  background-color: #fff;
  margin: auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1rem 2rem -10px #d7d7d7;
  -webkit-box-shadow: 0 1rem 2rem -10px #d7d7d7;
  -moz-box-shadow: 0 1rem 2rem -10px #d7d7d7;
}
body .site-wrapper .box-login .header-home {
  display: flex;
  flex-direction: column;
  padding: 0;
}
body .site-wrapper .box-login .header-home .logo-campanha {
  margin: 1rem auto 2rem auto !important;
  display: inline-block;
  width: 14rem;
  border-radius: 1.5rem;
  /*
  margin-bottom: 4rem !important;
  padding: 1.5rem 2rem;
  border: .3rem solid $cor_sec;

  box-shadow: 0 1rem 2rem -10px $cor_sec;
  -webkit-box-shadow: 0 1rem 2rem -10px $cor_sec;
  -moz-box-shadow: 0 1rem 2rem -10px $cor_sec;
  */
}
body .site-wrapper .box-login .header-home .logo-campanha img {
  width: 100%;
  filter: drop-shadow(0.2rem 0.2rem 0.15rem #bbb);
}
body .site-wrapper .box-login .header-home .logo-campanha svg {
  width: 70%;
  fill: #D97A06 !important;
}
body .site-wrapper .box-login form {
  height: 100%;
}
body .site-wrapper .box-login form h3 {
  color: #D97A06;
  font-weight: 300;
  margin-bottom: 3rem !important;
  text-align: center;
}
body .site-wrapper .box-login form .inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem 0;
}
body .site-wrapper .box-login form .inputs .linha-form .form-grupo {
  display: flex;
  flex-direction: column;
}
body .site-wrapper .box-login form .inputs .linha-form .form-grupo label {
  color: #4F4F4F;
  font-size: 0.8rem;
  font-weight: normal;
}
body .site-wrapper .box-login form .inputs .linha-form .form-grupo input {
  padding: 0.75rem;
  outline: none;
  border: 0.05rem solid #d7d7d7 !important;
  border-radius: 0.5rem;
  font-size: 0.8rem;
}
body .site-wrapper .box-login form .inputs .linha-form:first-child {
  margin-bottom: 1rem;
}
body .site-wrapper .box-login form button {
  width: 100%;
  bottom: 0;
  margin-top: 2rem !important;
}
body .site-wrapper .box-login form .btn-cadastre {
  font-size: 0.8rem;
  margin-top: 2rem;
  margin-bottom: 0 !important;
}
body .site-wrapper .box-login form .btn-cadastre a {
  color: #D97A06;
}
body .site-wrapper .forehead {
  margin-bottom: 2rem !important;
  height: 0;
  border-radius: 1rem;
  overflow: hidden;
  padding-bottom: 20rem;
  position: relative;
  background-size: cover !important;
  background-position: center !important;
}
body .site-wrapper .forehead h2 {
  background-color: #D97A06;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem 15rem 1rem 1rem;
  display: inline-block;
  margin-top: 3rem !important;
}
body .site-wrapper .forehead-profile {
  background: url("https://res.cloudinary.com/maxxpremios/image/upload/v1602796575/banner-dados-mater.jpg") no-repeat;
}
body .site-wrapper .forehead-rules {
  background: url("../../img/Regulamento_2_site_maxx.jpg") no-repeat;
}
body .site-wrapper .forehead-performance {
  background: url("https://res.cloudinary.com/maxxpremios/image/upload/c_crop,f_auto,g_south,h_400,q_auto:good,w_1381,y_300/v1520847077/i/performance.jpg") no-repeat;
}
body .site-wrapper .forehead-ranking {
  background: url("../../img/h/i_ranking.jpg") no-repeat;
}
body .site-wrapper .forehead-catalog {
  background: url("https://res.cloudinary.com/maxxpremios/image/upload/c_crop,f_auto,h_400,q_auto:good,w_1386/v1520847080/i/catalog2.jpg") no-repeat;
}
body .site-wrapper .forehead-training {
  background: url("../../img/mulher-trabalhando-no-escritorio.jpg") no-repeat;
}
body .site-wrapper .forehead-goals {
  background: url("https://res.cloudinary.com/maxxpremios/image/upload/c_scale,w_1380/c_crop,h_400,w_1380/v1523582747/i/metas.jpg") no-repeat;
}
body .site-wrapper .forehead-points {
  background: url("https://res.cloudinary.com/maxxpremios/image/upload/c_scale,w_1380/c_crop,h_400,w_1380/v1523582747/i/points.jpg") no-repeat;
}
body .site-wrapper .forehead-pedidos {
  background: url("https://res.cloudinary.com/maxxpremios/image/upload/v1602797843/banner-pedidos-mater.jpg") no-repeat;
  background-size: 200% !important;
  background-position-x: right !important;
}
body .site-wrapper .comunicados-home {
  flex-direction: column;
  position: fixed;
  z-index: 9999;
  background-color: #fff;
  padding: 1rem;
  width: 40rem;
  top: 15vh;
  bottom: 15vh;
  left: 0;
  right: 0;
  margin: auto;
  overflow: hidden;
  height: 70vh !important;
  -webkit-box-shadow: 7px 4px 29px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 7px 4px 29px 0px rgba(0, 0, 0, 0.18);
  box-shadow: 7px 4px 29px 0px rgba(0, 0, 0, 0.18);
  border-radius: 1rem;
}
body .site-wrapper .comunicados-home .comu-home-head {
  display: flex;
  justify-content: space-between;
  height: 5rem;
}
body .site-wrapper .comunicados-home .comu-home-head img {
  height: 4rem;
}
body .site-wrapper .comunicados-home .comu-home-head svg {
  height: 4rem;
}
body .site-wrapper .comunicados-home .comu-home-head .close {
  font-size: 1.2rem;
  line-height: 2rem;
}
body .site-wrapper .comunicados-home .comunicados {
  border-radius: 0.5rem;
  margin: 0 !important;
  width: 100% !important;
  min-height: calc(100% - 3rem);
}
body .site-wrapper .filtro_preto {
  background-color: #000;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 9998;
  opacity: 0.8;
}
body .site-wrapper .home_box {
  display: flex;
  flex-wrap: wrap;
}
body .site-wrapper .home_box .quadro-home {
  width: calc(25% - 1rem);
  aspect-ratio: 1/1;
  margin: 0.5rem;
  overflow: hidden;
}
body .site-wrapper .home_box .quadro-home .home-box {
  display: inline-block;
  position: relative;
  aspect-ratio: 1/1;
  height: 100%;
  background-color: #D97A06;
  background-size: cover;
  background-position: center;
}
body .site-wrapper .home_box .quadro-home .home-box p {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  width: calc(100% - 3rem);
}
body .site-wrapper .home_box .quadro-home .home-box p svg {
  height: 2rem;
  stroke: #fff;
}
body .site-wrapper .home_box .quadro-home .home-box p .home-box-title {
  color: #fff;
  display: block;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
}
body .site-wrapper .home_box .quadro-home .home-box .filtro {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0) 45%);
}
body .site-wrapper .home_box #pontos .home-box {
  background-image: url("../../img/h/banner-faixa-clientes-compressor.jpg");
}
body .site-wrapper .home_box #viagem .home-box {
  background-image: url("../../img/h/brasileiro-e3f91d8d.webp");
}
body .site-wrapper .home_box #premios .home-box {
  background-image: url("../../img/h/catalog2.webp");
  background-position-x: -200px;
}
body .site-wrapper .home_box #regulamento .home-box {
  background-image: url("../../img/h/regras.jpg");
}
body .site-wrapper .home_box #dados .home-box {
  background-image: url("../../img/h/banner-dados.jpg");
}
body .site-wrapper .home_box #comunicados .home-box {
  background-image: url("../../img/h/envelope-marrom-liso-com-cartao-de-mensagem-em-branco.jpg");
}
body .site-wrapper .home_box #rank .home-box {
  background-image: url("../../img/h/i_ranking.jpg");
}
body .site-wrapper .home_box #pedidos .home-box {
  background-image: url("../../img/h/banner-pedidos.jpg");
  background-position-x: right;
}
body .site-wrapper .home_box #treinamento .home-box {
  background-image: url("../../img/h/mulher-trabalhando-no-escritorio.jpg");
}
body .site-wrapper .filtro_prod {
  list-style: none;
  display: flex;
  padding: 0;
}
body .site-wrapper .filtro_prod .drop-1, body .site-wrapper .filtro_prod .drop-2 {
  margin-right: 1rem;
  background-color: #D97A06;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
}
body .site-wrapper .filtro_prod .drop-1 a, body .site-wrapper .filtro_prod .drop-2 a {
  color: #fff !important;
  text-decoration: none;
  font-size: 1rem;
}
body .site-wrapper .filtro_prod .drop-1 .dropdown-menu li, body .site-wrapper .filtro_prod .drop-2 .dropdown-menu li {
  width: 100%;
}
body .site-wrapper .filtro_prod .drop-1 .dropdown-menu li a, body .site-wrapper .filtro_prod .drop-2 .dropdown-menu li a {
  color: #4F4F4F !important;
}
body .site-wrapper .catalog {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
body .site-wrapper .catalog .product {
  width: calc(20% - 1rem);
  margin: 0.5rem;
  background-color: #f3f3f3;
  border-radius: 1rem;
  padding: 1rem;
  cursor: pointer;
  transition: 0.2s;
}
body .site-wrapper .catalog .product:hover {
  padding: 0.8rem 1rem 1rem 1rem;
}
body .site-wrapper .catalog .product a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
}
body .site-wrapper .catalog .product a picture {
  aspect-ratio: 1/1;
  width: 100%;
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 10%;
  overflow: hidden;
  margin-bottom: 2rem;
  box-sizing: border-box;
  display: flex;
}
body .site-wrapper .catalog .product a picture img {
  max-width: 100%;
  height: 100%;
  margin: auto;
}
body .site-wrapper .catalog .product a h6 {
  height: 1rem;
  font-size: 0.6rem;
  line-height: 0.8rem;
  margin-bottom: 0;
  color: #270000;
}
body .site-wrapper .catalog .product a h4 {
  height: 5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
  color: #191919;
}
body .site-wrapper .catalog .product a div {
  display: flex;
  justify-content: space-between;
  height: 2.5rem;
}
body .site-wrapper .catalog .product a div p {
  font-size: 0.8rem;
  color: #4F4F4F;
  margin: 0 !important;
}
body .site-wrapper .catalog .product a div span {
  display: flex;
  background-color: #D97A06;
  border-radius: 0.5rem;
  aspect-ratio: 1/1;
  height: 100%;
}
body .site-wrapper .catalog .product a div span svg {
  stroke: #fff;
  width: 50%;
  margin: auto;
}
body .site-wrapper .catalog .product a:hover {
  text-decoration: none;
  color: #4F4F4F !important;
}
body .site-wrapper .catalog .modal .modal-dialog {
  display: flex;
  height: 100%;
  margin: 0 auto;
}
body .site-wrapper .catalog .modal .modal-dialog .modal-content {
  margin: auto;
  height: 70vh;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.5);
  border: 0 !important;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .site-wrapper .catalog .modal .modal-dialog .modal-content div {
  padding: 2rem;
}
body .site-wrapper .catalog .modal .modal-dialog .modal-content .modal-header {
  height: 15%;
  max-height: 6rem;
}
body .site-wrapper .catalog .modal .modal-dialog .modal-content .product-detail {
  height: 70%;
}
body .site-wrapper .catalog .modal .modal-dialog .modal-content .product-detail picture {
  height: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  padding: 1rem;
  width: 49%;
}
body .site-wrapper .catalog .modal .modal-dialog .modal-content .product-detail picture img {
  height: 100%;
  width: auto;
  margin: 0 auto;
}
body .site-wrapper .catalog .modal .modal-dialog .modal-content .product-detail .product-detail-description {
  background-color: #f3f3f3;
  border-radius: 1rem;
  height: 100%;
  display: inline-block;
  width: 49%;
}
body .site-wrapper .catalog .modal .modal-dialog .modal-content .product-detail .product-detail-description .points {
  font-size: 1.2rem;
  font-weight: 500;
}
body .site-wrapper .catalog .modal .modal-dialog .modal-content .modal-footer {
  height: 15%;
  border: 0 !important;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
body .site-wrapper .catalog .modal .modal-dialog .modal-content .modal-footer button {
  max-height: 4rem;
}
body .site-wrapper .catalog .modal .modal-dialog .modal-content .modal-footer .btn-action-go,
body .site-wrapper .catalog .modal .modal-dialog .modal-content .modal-footer .btn_sec {
  background-color: #D97A06;
  color: #fff !important;
}
body .site-wrapper .catalog .modal .modal-dialog .modal-content .modal-footer .btn-action-go a,
body .site-wrapper .catalog .modal .modal-dialog .modal-content .modal-footer .btn_sec a {
  color: #fff !important;
  text-decoration: none;
}
body .site-wrapper .pagination-products {
  margin: 0 1rem;
}
body .site-wrapper .pagination-products li a, body .site-wrapper .pagination-products li span {
  color: #4F4F4F;
}
body .site-wrapper .pagination-products .active a {
  color: #fff;
  border-color: #D97A06 !important;
  background-color: #D97A06 !important;
}
body .site-wrapper .viagem div {
  position: relative;
  opacity: 0.9;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body .site-wrapper .viagem .banner-viagem {
  padding: 2rem 10rem !important;
}
body .site-wrapper .viagem .text-box {
  padding: 5rem 10rem;
  box-sizing: border-box;
  text-align: center;
}
body .site-wrapper .viagem .text-box h2, body .site-wrapper .viagem .text-box h3 {
  color: #D97A06 !important;
  margin-bottom: 1rem !important;
}
body .site-wrapper .viagem .bgimg {
  height: 600px !important;
}
body .site-wrapper .viagem .bgimg-1 {
  background-image: url("../../img/v/nor/1.jpg");
}
body .site-wrapper .viagem .bgimg-2 {
  background-image: url("../../img/v/nor/2.jpg");
}
body .site-wrapper .viagem .bgimg-3 {
  background-image: url("../../img/v/nor/3.jpg");
}
body .site-wrapper .viagem .bgimg-4 {
  background-image: url("../../img/v/nor/4.jpg");
}
body .site-wrapper .viagem .bgimg-5 {
  background-image: url("../../img/v/nor/5.jpg");
}
body .site-wrapper .carrinho {
  display: flex;
}
body .site-wrapper .carrinho .descr {
  width: calc(30% - 2rem) !important;
  margin-right: 2rem;
  background-color: #f3f3f3;
  padding: 2rem;
  border-radius: 1rem;
}
body .site-wrapper .carrinho .descr h2, body .site-wrapper .carrinho .descr h4 {
  margin-bottom: 1rem !important;
}
body .site-wrapper .carrinho .descr p, body .site-wrapper .carrinho .descr ul {
  margin-bottom: 4rem;
}
body .site-wrapper .carrinho .descr ul {
  padding: 0 !important;
}
body .site-wrapper .carrinho .descr ul li {
  text-decoration: none;
  list-style-type: none;
}
body .site-wrapper .carrinho .descr a {
  text-decoration: none;
}
body .site-wrapper .carrinho .produtos_cart {
  width: 70% !important;
  display: flex;
  flex-direction: column;
}
body .site-wrapper .carrinho .produtos_cart .product-cart {
  display: flex;
  border-bottom: 0.1rem solid #f3f3f3;
  padding: 1.5rem 0;
  margin: 1.5rem 0;
}
body .site-wrapper .carrinho .produtos_cart .product-cart .product-cart-img,
body .site-wrapper .carrinho .produtos_cart .product-cart .product-cart-description,
body .site-wrapper .carrinho .produtos_cart .product-cart .product-cart-points {
  display: inline-block;
  vertical-align: middle;
}
body .site-wrapper .carrinho .produtos_cart .product-cart .product-cart-img {
  display: flex;
  margin-right: 2rem;
  border-right: 0.1rem solid #f3f3f3;
  width: 10% !important;
  aspect-ratio: 1/1;
}
body .site-wrapper .carrinho .produtos_cart .product-cart .product-cart-img img {
  width: 100%;
  margin: auto;
}
body .site-wrapper .carrinho .produtos_cart .product-cart .product-cart-description {
  width: 60% !important;
  border-right: 0.1rem solid #f3f3f3;
  padding-right: 2rem;
  margin-right: 2rem;
}
body .site-wrapper .carrinho .produtos_cart .product-cart .product-cart-description h4 {
  color: #BF2505;
  margin-top: 0;
}
body .site-wrapper .carrinho .produtos_cart .product-cart .product-cart-description p:first-of-type {
  font-size: 1rem;
}
body .site-wrapper .carrinho .produtos_cart .product-cart .product-cart-points {
  display: flex;
  align-items: center;
  font-weight: 600;
  width: 30% !important;
}
body .site-wrapper .carrinho .produtos_cart .product-cart .product-cart-points .points {
  text-align: right;
  font-size: 1.2rem;
  width: 90%;
}
body .site-wrapper .carrinho .produtos_cart .detalhes_pedido {
  bottom: 0;
  margin-top: auto;
}
body .site-wrapper .carrinho .produtos_cart .detalhes_pedido .product-cart-subtotal {
  text-align: right;
  font-size: 1rem;
}
body .site-wrapper .carrinho .produtos_cart .detalhes_pedido .product-cart-total {
  background-color: #191919;
  color: #fff;
  border-radius: 0.5rem;
  padding: 1.5rem;
  text-align: right;
}
body .site-wrapper .carrinho .produtos_cart .detalhes_pedido .product-cart-total p {
  text-align: right;
  padding: 1.5rem;
  margin: 0 !important;
}
body .site-wrapper .carrinho .produtos_cart .detalhes_pedido .form-order {
  display: flex;
  flex-direction: row;
}
body .site-wrapper .carrinho .produtos_cart .detalhes_pedido .form-order #campo_senha_order {
  width: 60%;
  margin-left: 1rem;
  height: 2.5rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  outline: none;
  border: 0.1rem solid #ccc !important;
}
body .site-wrapper .carrinho .produtos_cart .detalhes_pedido .form-order .btn_padrao {
  margin-right: 1rem;
  float: right;
}
body .site-wrapper .wrap-rules {
  font-size: 1.2rem;
  padding: 3rem;
  background-color: #f3f3f3;
  border-radius: 1rem;
  width: 100% !important;
}
body .site-wrapper .wrap-rules h2, body .site-wrapper .wrap-rules h3, body .site-wrapper .wrap-rules h6 {
  text-align: center;
}
body .site-wrapper .wrap-rules h2 {
  font-size: 2.5rem;
  font-weight: 600;
}
body .site-wrapper .wrap-rules h2:first-of-type {
  margin-bottom: 1rem !important;
}
body .site-wrapper .wrap-rules h2:last-of-type {
  margin-top: 2rem !important;
}
body .site-wrapper .wrap-rules h6 {
  margin-bottom: 2rem !important;
}
body .site-wrapper .wrap-rules .texto {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0;
  font-size: 1rem;
}
body .site-wrapper .wrap-rules .texto .coluna {
  width: 48%;
}
body .site-wrapper .wrap-rules .texto .coluna h3 {
  font-size: 2rem !important;
}
body .site-wrapper .wrap-rules .texto .coluna h5 {
  color: #D97A06;
  margin-top: 2rem;
  font-weight: 600;
  text-align: justify;
}
body .site-wrapper .wrap-rules .texto .coluna p {
  margin: 1rem;
  text-align: justify;
}
body .site-wrapper .wrap-rules .texto .coluna .sub_1 {
  margin-left: 3rem;
}
body .site-wrapper .wrap-rules .texto .coluna .sub_2 {
  margin-left: 6rem;
}
body .site-wrapper .wrap-equipes div table thead tr {
  background-color: #BF2505;
  color: #fff;
}
body .site-wrapper .wrap-equipes div table thead tr th {
  padding: 1.5rem 1rem;
}
body .site-wrapper .wrap-equipes div table thead tr th:first-of-type {
  border-radius: 1rem 0 0 0;
}
body .site-wrapper .wrap-equipes div table thead tr th:last-of-type {
  border-radius: 0 1rem 0 0;
}
body .site-wrapper .wrap-equipes div table tr td {
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
  text-align: left;
  max-width: 150px; /* largura máxima da célula */
  white-space: nowrap; /* impede quebra de linha */
  overflow: hidden; /* esconde o excesso */
  text-overflow: ellipsis; /* adiciona "..." */
}
body .site-wrapper .wrap-equipes div table tr:nth-child(even) {
  background-color: #eee;
}
body .site-wrapper .wrap-equipes div table .linha-supervisor {
  background-color: #D97A06 !important;
  color: #fff;
  border-top: 0.5rem solid white;
}
body .site-wrapper .wrap-equipes div table .linha-supervisor td {
  padding: 1.25rem 1rem !important;
}
body .site-wrapper .wrap-equipes div table .linha-representante:nth-child(even) {
  background-color: #eee;
}
body .site-wrapper .wrap-tables h2 {
  font-weight: 600;
  font-size: 2rem;
  margin-top: 1rem !important;
}
body .site-wrapper .wrap-tables .table-pontos {
  border-radius: 1rem;
  overflow: hidden;
}
body .site-wrapper .wrap-tables .table-pontos thead .cabecalho_table {
  width: 100%;
  background-color: #D97A06;
  border-color: #D97A06;
  border-style: solid;
  border-width: 0rem 0.2rem 0rem 0.2rem;
}
body .site-wrapper .wrap-tables .table-pontos thead .cabecalho_table th {
  font-size: 0.8rem;
  box-sizing: border-box;
  padding: 1rem;
  color: #fff;
}
body .site-wrapper .wrap-tables .table-pontos tbody tr {
  border-color: #d7d7d7;
  border-style: solid;
  border-width: 0.1rem 0.2rem 0.1rem 0.2rem;
}
body .site-wrapper .wrap-tables .table-pontos tbody tr:hover {
  border-left-color: #750303;
  border-width: 0.1rem 0.2rem 0.1rem 0.2rem;
}
body .site-wrapper .wrap-tables .table-pontos tbody tr td {
  width: 12.5% !important;
  padding: 0 !important;
  transition: 0.2s;
  font-size: 0.8rem;
  border: 1px solid #ddd;
}
body .site-wrapper .wrap-tables .table-pontos tbody tr td .accordions {
  color: #4F4F4F;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
}
body .site-wrapper .wrap-tables .table-pontos tbody tr td .accordions div label {
  display: flex;
  width: 100% !important;
  margin: 0 !important;
  cursor: pointer;
  transition: 0.2s;
}
body .site-wrapper .wrap-tables .table-pontos tbody tr td .accordions div label:hover {
  background-color: #f3f3f3;
}
body .site-wrapper .wrap-tables .table-pontos tbody tr td .accordions div label li {
  font-size: 1.5rem;
  font-weight: 400;
  width: 16.1666666667%;
  padding: 1rem 2rem;
  display: inline-block;
  font-size: 1.5rem;
}
body .site-wrapper .wrap-tables .table-pontos tbody tr td .accordions div label svg {
  stroke: #D97A06;
  margin: auto;
  padding: 0.5rem;
  transition: 0.2s;
}
body .site-wrapper .wrap-tables .table-pontos tbody tr td .accordions div label :nth-child(1) {
  font-weight: 600;
}
body .site-wrapper .wrap-tables .table-pontos tbody tr td .accordions div .accordion-item {
  display: none;
}
body .site-wrapper .wrap-tables .table-pontos tbody tr td .accordions div .accordion-content {
  display: none;
  padding-bottom: 1rem;
  overflow: hidden;
  margin: 0;
  transition: 0.2s;
}
body .site-wrapper .wrap-tables .table-pontos tbody tr td .accordions div .accordion-content .sub_accordions {
  padding: 0 1rem;
}
body .site-wrapper .wrap-tables .table-pontos tbody tr td .accordions div .accordion-content .sub_accordions .conteudo_pontos {
  border-radius: 1rem;
  width: 50%;
  padding: 0.5rem;
  margin: 0;
  position: relative;
  float: left;
}
body .site-wrapper .wrap-tables .table-pontos tbody tr td .accordions div .accordion-content .sub_accordions .conteudo_pontos:nth-of-type(2), body .site-wrapper .wrap-tables .table-pontos tbody tr td .accordions div .accordion-content .sub_accordions .conteudo_pontos:nth-of-type(3) {
  float: left;
  width: 25%;
}
body .site-wrapper .wrap-tables .table-pontos tbody tr td .accordions div .accordion-content .sub_accordions .conteudo_pontos .accordions_linhaProdutos .linhaProdutos {
  width: 100% !important;
  margin: 0.5rem 0;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #e5e5e5;
  transition: 0.2s;
}
body .site-wrapper .wrap-tables .table-pontos tbody tr td .accordions div .accordion-content .sub_accordions .conteudo_pontos .accordions_linhaProdutos .linhaProdutos:hover {
  background-color: #FEDFDF;
}
body .site-wrapper .wrap-tables .table-pontos tbody tr td .accordions div .accordion-content .sub_accordions .conteudo_pontos .accordions_linhaProdutos .linhaProdutos:hover label {
  color: #270000;
  background-color: rgba(0, 0, 0, 0) !important;
}
body .site-wrapper .wrap-tables .table-pontos tbody tr td .accordions div .accordion-content .sub_accordions .conteudo_pontos .accordions_linhaProdutos .linhaProdutos:hover .accordion_linhaProd-content {
  border-top: 0.1rem solid rgba(39, 0, 0, 0.2);
}
body .site-wrapper .wrap-tables .table-pontos tbody tr td .accordions div .accordion-content .sub_accordions .conteudo_pontos .accordions_linhaProdutos .linhaProdutos label {
  display: flex;
  margin: 0 !important;
  cursor: pointer;
  height: 2rem;
}
body .site-wrapper .wrap-tables .table-pontos tbody tr td .accordions div .accordion-content .sub_accordions .conteudo_pontos .accordions_linhaProdutos .linhaProdutos label li {
  width: 100% !important;
  list-style-type: none;
  padding: 0 !important;
  font-weight: 600;
  font-size: 1.2rem;
  height: 2rem;
  margin: auto 0;
}
body .site-wrapper .wrap-tables .table-pontos tbody tr td .accordions div .accordion-content .sub_accordions .conteudo_pontos .accordions_linhaProdutos .linhaProdutos label :nth-child(2) {
  text-align: right;
}
body .site-wrapper .wrap-tables .table-pontos tbody tr td .accordions div .accordion-content .sub_accordions .conteudo_pontos .accordions_linhaProdutos .linhaProdutos .accordion_linhaProd-content {
  padding: 1rem 1rem 0 1rem;
  display: none;
  margin-top: 0.5rem;
  border-top: 0.1rem solid #d7d7d7;
  transition: 0.2s;
}
body .site-wrapper .wrap-tables .table-pontos tbody tr td .accordions div .accordion-content .sub_accordions .conteudo_pontos .accordions_linhaProdutos .linhaProdutos .accordion_linhaProd-content .prod-linha {
  display: flex;
  font-size: 1rem;
}
body .site-wrapper .wrap-tables .table-pontos tbody tr td .accordions div .accordion-content .sub_accordions .conteudo_pontos .accordions_linhaProdutos .linhaProdutos .accordion_linhaProd-content .prod-linha li {
  display: inline;
  margin: 0.5rem 0;
  overflow: hidden;
  max-height: 1.5rem;
}
body .site-wrapper .wrap-tables .table-pontos tbody tr td .accordions div .accordion-content .sub_accordions .conteudo_pontos .accordions_linhaProdutos .linhaProdutos .accordion_linhaProd-content .prod-linha .col-1 {
  width: 50%;
  padding-right: 2rem;
}
body .site-wrapper .wrap-tables .table-pontos tbody tr td .accordions div .accordion-content .sub_accordions .conteudo_pontos .accordions_linhaProdutos .linhaProdutos .accordion_linhaProd-content .prod-linha .col-2 {
  width: 25%;
  text-align: center;
}
body .site-wrapper .wrap-tables .table-pontos tbody tr td .accordions div .accordion-content .sub_accordions .conteudo_pontos .accordions_linhaProdutos .linhaProdutos .accordion_linhaProd-content .prod-linha .col-3 {
  width: 75%;
}
body .site-wrapper .wrap-tables .table-pontos tbody tr td .accordions div .accordion-content .sub_accordions .conteudo_pontos .accordions_linhaProdutos .linhaProdutos .accordion_linhaProd-content .prod-linha .col-pts {
  text-align: right;
}
body .site-wrapper .wrap-tables .table-pontos tbody tr td .accordions div .accordion-content .sub_accordions .conteudo_pontos .accordions_linhaProdutos .linhaProdutos .accordion_linhaProd-content .prod-linha .head_tab {
  font-weight: 600;
}
body .site-wrapper .wrap-tables .table-pontos tfoot {
  background-color: #191919;
  border-color: #191919;
  border-style: solid;
  border-width: 0rem 0.2rem 0rem 0.2rem;
}
body .site-wrapper .wrap-tables .table-pontos tfoot .rodape_tab {
  width: 98%;
  color: #fff;
}
body .site-wrapper .wrap-tables .table-pontos tfoot .rodape_tab td {
  padding: 1rem;
  font-weight: 600;
  font-size: 0.8rem;
  vertical-align: bottom !important;
}
body .site-wrapper .wrap-tables .table-pontos tfoot .rodape_tab td p {
  font-size: 0.6rem !important;
  margin: 0 !important;
}
body .site-wrapper .wrap-tables .pontos_simples thead tr th {
  font-size: 1rem;
}
body .site-wrapper .wrap-tables .pontos_simples tbody tr td {
  padding: 1rem !important;
}
body .site-wrapper .wrap-comunicados {
  display: flex;
}
body .site-wrapper .wrap-comunicados .descr {
  width: 30% !important;
}
body .site-wrapper .wrap-comunicados .descr h2 {
  font-weight: 600;
}
body .site-wrapper .wrap-comunicados .comunicados-bloco {
  width: 70% !important;
}
body .site-wrapper .wrap-comunicados .comunicados {
  border-top: 2rem solid #D97A06;
  padding: 3rem;
  width: calc(50% - 2rem);
  background-color: #f3f3f3;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  margin: 0 1rem 3rem 1rem;
  height: fit-content;
  overflow-x: hidden;
  text-align: center;
  position: relative;
  float: left;
}
body .site-wrapper .wrap-comunicados .comunicados .data_comunicado {
  color: #D97A06;
  font-size: 1rem;
}
body .site-wrapper .wrap-comunicados .comunicados h4 {
  margin-bottom: 3rem !important;
}
body .site-wrapper .wrap-comunicados .comunicados p {
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: #4F4F4F;
}
body .site-wrapper .ranking div h2 {
  margin-bottom: 1.5rem !important;
}
body .site-wrapper .ranking div .info {
  color: #191919;
  margin-bottom: 2rem;
}
body .site-wrapper .ranking div .disclaimer {
  color: #D97A06;
}
body .site-wrapper .ranking div .ranking-table {
  width: 100%;
}
body .site-wrapper .ranking div .ranking-table thead tr th {
  padding: 2rem 0 !important;
}
body .site-wrapper .ranking div .ranking-table tbody td, body .site-wrapper .ranking div .ranking-table tbody th {
  padding: 1rem;
  font-size: 1rem;
}
body .site-wrapper .ranking div .ranking-table tbody tr:nth-child(1) {
  background-color: #BF2505;
  font-weight: bold;
  color: #fff;
}
body .site-wrapper .ranking div .ranking-table tbody tr:nth-child(2) {
  background-color: #F2B602;
  font-weight: bold;
  color: #191919 !important;
}
body .site-wrapper .ranking div .ranking-table tbody tr:nth-child(3) {
  background-color: #FDD9AE;
  font-weight: bold;
  color: #191919 !important;
}
body .site-wrapper .ranking div .ranking-table .rank, body .site-wrapper .ranking div .ranking-table .public {
  text-align: center;
}
body .site-wrapper .ranking div .ranking-table .percent {
  text-align: right;
}
body .site-wrapper .wrapper-dados {
  padding: 2rem !important;
  display: flex;
  flex-direction: column;
}
body .site-wrapper .wrapper-dados .introducao-perfil {
  text-align: center;
}
body .site-wrapper .wrapper-dados .formularios {
  position: relative;
  float: left;
  width: 100%;
  margin: 2rem 0;
}
body .site-wrapper .wrapper-dados .formularios .perfil-endereco {
  display: flex !important;
}
body .site-wrapper .wrapper-dados .formularios .perfil-endereco div {
  width: 48% !important;
  margin-right: 2% !important;
}
body .site-wrapper .wrapper-dados .formularios .perfil-endereco div .profile-form {
  width: 100% !important;
}
body .site-wrapper .wrapper-dados .formularios .coluna {
  position: relative;
}
body .site-wrapper .wrapper-dados .formularios .coluna .perfil, body .site-wrapper .wrapper-dados .formularios .coluna .endereco, body .site-wrapper .wrapper-dados .formularios .coluna .familia {
  padding: 1.5rem;
  border: 0.1rem solid #d7d7d7;
  border-radius: 1rem;
  margin-bottom: 2rem;
}
body .site-wrapper .wrapper-dados .formularios .coluna .perfil .addres-form, body .site-wrapper .wrapper-dados .formularios .coluna .endereco .addres-form, body .site-wrapper .wrapper-dados .formularios .coluna .familia .addres-form {
  width: 100% !important;
}
body .site-wrapper .wrapper-dados .formularios .coluna .perfil .addres-form .linha-form, body .site-wrapper .wrapper-dados .formularios .coluna .endereco .addres-form .linha-form, body .site-wrapper .wrapper-dados .formularios .coluna .familia .addres-form .linha-form {
  width: 100% !important;
}
body .site-wrapper .wrapper-dados .formularios .coluna .perfil .addres-form .linha-form div, body .site-wrapper .wrapper-dados .formularios .coluna .endereco .addres-form .linha-form div, body .site-wrapper .wrapper-dados .formularios .coluna .familia .addres-form .linha-form div {
  width: 100% !important;
}
body .site-wrapper .wrapper-dados .formularios .coluna .perfil fieldset h3, body .site-wrapper .wrapper-dados .formularios .coluna .endereco fieldset h3, body .site-wrapper .wrapper-dados .formularios .coluna .familia fieldset h3 {
  font-weight: 600;
}
body .site-wrapper .wrapper-dados .formularios .coluna .perfil fieldset div, body .site-wrapper .wrapper-dados .formularios .coluna .perfil fieldset address, body .site-wrapper .wrapper-dados .formularios .coluna .endereco fieldset div, body .site-wrapper .wrapper-dados .formularios .coluna .endereco fieldset address, body .site-wrapper .wrapper-dados .formularios .coluna .familia fieldset div, body .site-wrapper .wrapper-dados .formularios .coluna .familia fieldset address {
  display: flex;
  flex-direction: column;
  margin: 2rem 0 !important;
}
body .site-wrapper .wrapper-dados .formularios .coluna .perfil fieldset div p, body .site-wrapper .wrapper-dados .formularios .coluna .perfil fieldset address p, body .site-wrapper .wrapper-dados .formularios .coluna .endereco fieldset div p, body .site-wrapper .wrapper-dados .formularios .coluna .endereco fieldset address p, body .site-wrapper .wrapper-dados .formularios .coluna .familia fieldset div p, body .site-wrapper .wrapper-dados .formularios .coluna .familia fieldset address p {
  margin: 0.5rem 0 !important;
  font-size: 1rem;
}
body .site-wrapper .wrapper-dados .formularios .coluna .perfil form, body .site-wrapper .wrapper-dados .formularios .coluna .endereco form, body .site-wrapper .wrapper-dados .formularios .coluna .familia form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
body .site-wrapper .wrapper-dados .formularios .coluna .perfil form fieldset, body .site-wrapper .wrapper-dados .formularios .coluna .endereco form fieldset, body .site-wrapper .wrapper-dados .formularios .coluna .familia form fieldset {
  width: 48%;
}
body .site-wrapper .wrapper-dados .formularios .coluna .perfil form fieldset .form-perfil, body .site-wrapper .wrapper-dados .formularios .coluna .endereco form fieldset .form-perfil, body .site-wrapper .wrapper-dados .formularios .coluna .familia form fieldset .form-perfil {
  margin: 0 !important;
}
body .site-wrapper .wrapper-dados .formularios .coluna .perfil form fieldset span, body .site-wrapper .wrapper-dados .formularios .coluna .endereco form fieldset span, body .site-wrapper .wrapper-dados .formularios .coluna .familia form fieldset span {
  font-size: 0.8rem;
}
body .site-wrapper .wrapper-dados .formularios .coluna .perfil form fieldset a, body .site-wrapper .wrapper-dados .formularios .coluna .endereco form fieldset a, body .site-wrapper .wrapper-dados .formularios .coluna .familia form fieldset a {
  font-size: 0.8rem !important;
}
body .site-wrapper .wrapper-dados .formularios .coluna .perfil form fieldset a:hover, body .site-wrapper .wrapper-dados .formularios .coluna .endereco form fieldset a:hover, body .site-wrapper .wrapper-dados .formularios .coluna .familia form fieldset a:hover {
  color: #BF2505;
}
body .site-wrapper .wrapper-dados .formularios .coluna .perfil form fieldset .linha-form, body .site-wrapper .wrapper-dados .formularios .coluna .endereco form fieldset .linha-form, body .site-wrapper .wrapper-dados .formularios .coluna .familia form fieldset .linha-form {
  margin: 0.75rem 0 !important;
}
body .site-wrapper .wrapper-dados .formularios .coluna .perfil form fieldset .linha-form label, body .site-wrapper .wrapper-dados .formularios .coluna .endereco form fieldset .linha-form label, body .site-wrapper .wrapper-dados .formularios .coluna .familia form fieldset .linha-form label {
  font-size: 1rem;
  font-weight: 400;
}
body .site-wrapper .wrapper-dados .formularios .coluna .perfil form fieldset .linha-form input, body .site-wrapper .wrapper-dados .formularios .coluna .perfil form fieldset .linha-form select, body .site-wrapper .wrapper-dados .formularios .coluna .endereco form fieldset .linha-form input, body .site-wrapper .wrapper-dados .formularios .coluna .endereco form fieldset .linha-form select, body .site-wrapper .wrapper-dados .formularios .coluna .familia form fieldset .linha-form input, body .site-wrapper .wrapper-dados .formularios .coluna .familia form fieldset .linha-form select {
  height: 3rem;
  border: 0.1rem solid #d7d7d7;
  border-radius: 0.5rem;
  font-size: 1rem;
  padding: 0 1rem;
}
body .site-wrapper .wrapper-dados .formularios .coluna .perfil form fieldset .linha-form input option, body .site-wrapper .wrapper-dados .formularios .coluna .perfil form fieldset .linha-form select option, body .site-wrapper .wrapper-dados .formularios .coluna .endereco form fieldset .linha-form input option, body .site-wrapper .wrapper-dados .formularios .coluna .endereco form fieldset .linha-form select option, body .site-wrapper .wrapper-dados .formularios .coluna .familia form fieldset .linha-form input option, body .site-wrapper .wrapper-dados .formularios .coluna .familia form fieldset .linha-form select option {
  font-size: 1rem;
}
body .site-wrapper .wrapper-dados .formularios .coluna .perfil form fieldset .btn_prim, body .site-wrapper .wrapper-dados .formularios .coluna .endereco form fieldset .btn_prim, body .site-wrapper .wrapper-dados .formularios .coluna .familia form fieldset .btn_prim {
  width: 70%;
  font-size: 1rem;
}
body .site-wrapper .wrapper-dados .formularios .coluna .perfil form .familiares, body .site-wrapper .wrapper-dados .formularios .coluna .endereco form .familiares, body .site-wrapper .wrapper-dados .formularios .coluna .familia form .familiares {
  width: 48%;
}
body .site-wrapper .wrapper-dados .formularios .coluna .perfil form .familiares .lista-familia, body .site-wrapper .wrapper-dados .formularios .coluna .endereco form .familiares .lista-familia, body .site-wrapper .wrapper-dados .formularios .coluna .familia form .familiares .lista-familia {
  background-color: #f3f3f3;
  border-radius: 1rem;
  margin-bottom: 1rem !important;
  padding: 1.5rem;
  font-size: 1rem;
}
body .site-wrapper .wrapper-dados .formularios .coluna .form-register-profile fieldset {
  width: 100% !important;
}
body .site-wrapper .wrapper-dados .formularios .coluna .form-register-profile fieldset .form-perfil {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  width: 100% !important;
}
body .site-wrapper .wrapper-dados .formularios .coluna .form-register-profile fieldset .form-perfil .linha-form {
  width: 49% !important;
}
body .site-wrapper .wrapper-dados .formularios .coluna .form-register-profile fieldset .form-perfil .linha-form-wide {
  width: 100% !important;
}
body .site-wrapper .wrapper-dados .formularios .coluna .form-register-profile fieldset button {
  width: 100% !important;
}
body .site-wrapper .wrapper-dados .formularios .coluna .form-register-address fieldset {
  width: 100% !important;
}
body .site-wrapper .wrapper-dados .formularios .coluna .form-register-address fieldset button {
  width: 100% !important;
}
body .site-wrapper .wrapper-dados .formularios .coluna .form-register-address fieldset .linha-form div {
  margin: 1rem 0 !important;
}
body .site-wrapper .wrapper-dados .formularios .coluna-1 {
  width: 32.3333333333% !important;
  float: left;
}
body .site-wrapper .wrapper-dados .formularios .coluna-2 {
  width: 65.6666666667% !important;
  float: right;
}
body .site-wrapper .wrapper-dados .btn_padrao {
  margin: 0 auto !important;
  width: 40%;
  text-align: center;
}
body .site-wrapper .wrapper-dados .btn_padrao:hover {
  text-decoration: none;
  color: #fff;
}
body .site-wrapper #treinament {
  display: flex;
  justify-content: space-between;
}
body .site-wrapper #treinament .box-treinamento {
  width: 33%;
  padding: 2rem;
}
body .site-wrapper #treinament .box-treinamento a {
  text-decoration: none;
}
body .site-wrapper #treinament .box-treinamento a h4 {
  height: 6rem;
}
body .site-wrapper #treinament .box-treinamento a img {
  width: 100%;
  box-shadow: 0.1rem 0.1rem 0.4rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}
body .site-wrapper .pedidos_feitos .box-pedidos {
  display: flex;
  width: 100%;
}
body .site-wrapper .pedidos_feitos .box-pedidos .descr {
  width: 30%;
  padding-right: 3rem;
}
body .site-wrapper .pedidos_feitos .box-pedidos .descr h2, body .site-wrapper .pedidos_feitos .box-pedidos .descr h4 {
  margin-bottom: 1rem !important;
}
body .site-wrapper .pedidos_feitos .box-pedidos .lista-pedidos {
  width: 70%;
}
body .site-wrapper .pedidos_feitos .box-pedidos .lista-pedidos .page-title {
  color: #D97A06;
}
body .site-wrapper .pedidos_feitos .box-pedidos .lista-pedidos .orders {
  margin-top: 2rem !important;
}
body .site-wrapper .pedidos_feitos .box-pedidos .lista-pedidos .orders .orders-body tr #pedido_vazio a {
  color: #fff !important;
  font-size: 1rem;
}
body .site-wrapper .pedidos_feitos .box-pedidos .lista-pedidos .orders .orders-body td {
  padding: 2rem 1rem !important;
}
body .site-wrapper .pedidos_feitos .box-pedidos .lista-pedidos .account-box .order-resume ul .orders-resume-item-address .order-resume-text-info {
  font-size: 1.2rem;
}
body .site-wrapper .pedidos_feitos .box-pedidos .lista-pedidos .account-box .order-resume ul .orders-resume-item-address .order-resume-text-info ul {
  padding: 0 !important;
}
body .site-wrapper .pedidos_feitos .box-pedidos .lista-pedidos .account-box .order-resume ul .orders-resume-item-address .order-resume-text-info ul li {
  list-style-type: none;
}
body .form-cadastro {
  margin: 5rem auto;
  padding: 3rem;
}
body .form-cadastro form {
  width: 40rem !important;
  padding: 3rem !important;
}
body .form-cadastro form .campos-form h3 {
  margin-bottom: 1rem !important;
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.8rem !important;
}
body .form-cadastro form .campos-form h3 strong {
  color: #BF2505;
}
body .form-cadastro form .campos-form .voltar {
  text-align: center;
  width: 100%;
  font-size: 1rem !important;
  margin-bottom: 2rem;
}
body .form-cadastro form .campos-form .alert {
  text-align: center;
}
body .form-cadastro form .campos-form .alert a {
  text-decoration: none;
}
body .form-cadastro form .campos-form .linha-form {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  border-radius: 0 !important;
}
body .form-cadastro form .campos-form .linha-form .coluna-form {
  display: flex;
  justify-content: space-between;
  border-radius: 0 !important;
}
body .form-cadastro form .campos-form .linha-form .coluna-form div {
  width: 48%;
  border-radius: 0 !important;
}
body .form-cadastro form .campos-form .linha-form .coluna-form div input, body .form-cadastro form .campos-form .linha-form .coluna-form div select {
  width: 100% !important;
}
body .form-cadastro form .campos-form .linha-form label {
  font-size: 1rem;
}
body .form-cadastro form .campos-form .linha-form input, body .form-cadastro form .campos-form .linha-form select {
  padding: 1rem;
  font-size: 1rem;
  border: 0.1rem solid #d7d7d7;
  border-radius: 0.3rem;
}
body .form-cadastro form .campos-form .linha-form input::placeholder, body .form-cadastro form .campos-form .linha-form select::placeholder {
  color: #d7d7d7;
}
body .form-cadastro form .campos-form .linha-form #cargo {
  width: 100%;
}
body .form-cadastro form .campos-form .alertCPF label, body .form-cadastro form .campos-form .alertEmail label {
  color: #990000 !important;
}
body .form-cadastro form .campos-form .alertCPF input, body .form-cadastro form .campos-form .alertEmail input {
  border-color: #990000 !important;
}
body .form-cadastro form .campos-form h6 {
  font-size: 0.8rem;
  margin: 2rem 0 !important;
  display: flex;
  align-items: flex-end;
}
body .form-cadastro form .campos-form h6 input {
  margin: 0 !important;
  margin-right: 0.5rem !important;
  aspect-ratio: 1/1;
}
body .form-cadastro form .campos-form h6 p {
  margin: 0 !important;
}
body .form-cadastro form .campos-form button {
  width: 100% !important;
  cursor: not-allowed;
  background-color: #d7d7d7;
}
body .logos_group {
  margin: 8rem auto;
}
body .logos_group .logo_farmacias, body .logos_group .logo_produtos {
  padding: 3rem 0 !important;
}
body .logos_group .logo_farmacias h5, body .logos_group .logo_produtos h5 {
  text-align: center;
  font-weight: 700;
}
body .logos_group .logo_farmacias .linha_logos, body .logos_group .logo_produtos .linha_logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
}
body .logos_group .logo_farmacias .linha_logos div, body .logos_group .logo_produtos .linha_logos div {
  width: 11rem;
  padding: 0.5rem;
  display: flex;
  margin: 0 0 1rem 0 !important;
}
body .logos_group .logo_farmacias .linha_logos div img, body .logos_group .logo_produtos .linha_logos div img {
  width: 80%;
  margin: auto;
}
body .logos_group .logo_farmacias .linha_logos div h5, body .logos_group .logo_produtos .linha_logos div h5 {
  width: 100%;
  text-align: center;
  font-weight: 700;
  margin: auto 0 !important;
  text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
}
body .desativado {
  cursor: not-allowed;
  background-color: #d7d7d7 !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
}
body .desativado:hover {
  background-color: #d7d7d7 !important;
}
body .ativado {
  cursor: pointer !important;
}

/*# sourceMappingURL=output.css.map */
