.communications
  padding 20px 25px
  border-color $secondary #ccc $secondary #ccc
  border-width 30px 1px 20px 1px
  border-style solid
  font-size 15px
  margin-bottom 20px
  h4
    color $primary
  p
    line-height 2em
    color $gray

.communications-title
  color $primary
  text-align center
