.table-desempenho
  border 1px solid $silver
  thead
    background-color $secondary
    color $primary
  tfoot
    font-weight bold
    background-color $silver
    .col-total
    .col-saldo
    .col-trocados
      background-color $silver - 10%
      border-left white 1px solid
      border-collapse collapse

.col-points
.col-quarter
.col-bonnus
.col-metlife
.col-total
.col-saldo
.col-trocados
.col-goal
.col-reached
.col-metlife-sales
  width 10%
  text-align right

.col-obs
  text-align center

.col-time
  width 10%

.col-total-label
  color $grayLigth
  text-align right
